@import "../styles/reset.css";
@import "../styles/variables.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body {
    color: var(--inspector-gray500);
    background-color: var(--inspector-surface100);
    font-family: 'Poppins', system-ui, sans-serif;
}

input[disabled] {
    color: white;
}

button:disabled {
    background-color: var(--inspector-gray200);
    border-color: var(--inspector-gray200);
    cursor: not-allowed;
}

#panel-root {
    width: 100%;
    padding: 10px 20px;
}

h1 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, var(--inspector-primary), var(--inspector-yellow));
    -webkit-background-clip: text;
    font-size: 1.5rem;
    font-weight: 600;
}

h2>a{
    color: var(--inspector-primary);
}

i {
    font-size: .75rem;
    line-height: 0.75rem;
    margin-bottom: 0.5rem;
    display: block;
    margin-top: -0.25rem;
    color: var(--inspector-gray300) !important;
}

.sync-button {
    border-radius: 4px;
    display: inline-block;
    border-radius: 4px;
    text-transform: none;
    font-weight: 600;
    color: var(--inspector-white);
    background-color: var(--inspector-primary);
    height: 34px;
    font-size: 0.875rem;
    line-height: 1rem;
    padding-inline: 12px;
    padding-block: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
}

.sync-button:hover:not(:disabled) {
    box-shadow: 0 0 4px 4px rgba(255, 82, 0, 0.5);
}

.dev-ui-button {
    border-radius: 4px;
    display: inline-block;
    border-radius: 4px;
    text-transform: none;
    font-weight: 600;
    color: var(--inspector-white);
    background-color: rgba(255, 255, 255, 0.1);
    height: 34px;
    font-size: 0.875rem;
    line-height: 1rem;
    padding-inline: 12px;
    padding-block: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
}

.dev-ui-button:hover:not(:disabled) {
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.1);
}


.btn {
    border-radius: 4px;
    display: inline-block;
    text-transform: none;
    color: var(--inspector-white);
    background-color: var(--inspector-primary);
    border: 1px solid var(--inspector-primary);
    font-size: 0.875rem;
    line-height: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.btn.outline{
    color: var(--inspector-primary);
    background-color: transparent;
}
.input{
    background-color: var(--inspector-surface100);
    color: var(--inspector-white);
}

.mb-4 {
    margin-bottom: 1rem;
}

.btn:hover:not(:disabled) {
    box-shadow: 0 0 4px 4px rgba(255, 82, 0, 0.5);
}

.result {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.devtools-btn-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.error-alert {
    color: var(--inspector-red300);
    display: flex;
    align-items: center;
    gap: 8px;
}

.success-row {
    color: var(--inspector-green400);
    align-items: center;
}

.success-row a,
.success-row a:visited {
    color: var(--inspector-green400);
}

.error-row {
    color: var(--inspector-red400);
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.current-version {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
}

.title{
    margin: 0;
}
.current-version a {
    color: var(--inspector-white);
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spin 0.4s linear infinite;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    border-top: 2px solid var(--inspector-gray400);
    border-right: 2px solid var(--inspector-gray400);
    border-bottom: 2px solid var(--inspector-gray400);
    border-left: 2px solid var(--inspector-primary);
    margin-left: auto;
}

.app-list td:last-child {
    word-break: break-all;
}

.app-list td, .app-list th {
    padding: 0.5rem;
}

table.app-list {
    border-radius: 4px;
    border: 1px solid var(--inspector-gray200);
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
    width: 100%;
}


table.app-list th:not(:last-child),
table.app-list td:not(:last-child) {
    border-right: 1px solid var(--inspector-gray200);
}

table.app-list > tbody > tr:not(:last-child) > th,
table.app-list > tbody > tr:not(:last-child) > td,
table.app-list > tr:not(:last-child) > td,
table.app-list > tr:not(:last-child) > th,
table.app-list > tbody:not(:last-child),
table.app-list > thead>tr>th {
    border-bottom: 1px solid var(--inspector-gray200);
}

table.app-list input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--inspector-gray200);
    border-radius: 4px;
}
table.app-list td.tbl-key {
    width: 30%;
}

.inspector-notify-container{
    background: var(--inspector-green400);
    width: 100%;
    border-radius: 0 0 4px 4px;
    top: 0;
    left: 0;
    position: fixed;
    padding: 0 0.5rem;
    height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
    line-height: 40px;
}

.inspector-notify-container.open{
    height: 40px;
}
