:root {
  /* colors */
  --inspector-black: #0d0d0d;

  --inspector-surface100: #1A141F;

  --inspector-white: #fff;
  --inspector-dark-light: #353746;
  --inspector-red: #da2c4d;
  --inspector-yellow: #f8ab37;
  --inspector-primary: #FF5200;
  
  --inspector-gray500: #EBE6EF;
  --inspector-gray400: #D6D0DC;
  --inspector-gray300: #998DA5;
  --inspector-gray200: #43384C;
  --inspector-gray100: #342B3B;

  --inspector-red400: #F32F35;
  --inspector-red300: #F55459;

  --inspector-green400: #26B593;
}
